/*@import url(outlines.css); */

html {
	box-sizing: border-box;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Andale Mono", AndaleMono, monospace;

}

header {
	display: flex;
	text-transform: uppercase;
	min-height: 100px;
}

div.container {
	
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
}



a.logo {
	position: relative;
	min-width: 16.66%;
	background-color: purple;
	color: pink;
	font-size: 2rem;
	border-right: 2px solid #fff;
	transition: 1s;
}

a.logo:hover {
	opacity: 0.8;
}

body > div > header > a {}

.flex {
	display: flex;
	justify-content: center;
	align-items: center;
}

nav.menu-left {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #3290b4;
	min-width: 49.98%;
}

.menu-left ul {
	display: flex;
}

.menu-left li {
	padding: 1rem 5rem;
	border-right: 1px solid #fff;
}

body > div > header > nav > ul > li:nth-child(1) {
	position: relative; 
}

.menu-left a,
.menu-right li {
	color: #6acafc;
	font-size: 1.5rem;
}

.menu-left a {
	transition: 0.5s;
}

.menu-left a:hover {
	opacity: 0.8;
	color: #fff;
}

.menu-right {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #327185;
	margin: 0;
	padding: 0;
	min-width: 33.32%;
	border-left: 2px solid #fff;
}

.menu-right li {
	padding: 0.4rem 1rem;
}

body > div > header > ul > li:nth-child(1) {
	font-size: 2rem;
	letter-spacing: 0.4rem;
	border-right: 1px solid #fff;
	padding: 1rem;
}

body > div > header > ul > li:nth-child(2) > ul > li:nth-child(1) {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid #fff;
	width: 50px;
	height: 50px;
	border-radius: 50px;
	border-color: #6acafc;
	margin: 0 auto;
}



	




