@import url(outlines.css); 

:root {
	--width: 16.66%;
}

/*Global Style*/

html {
	box-sizing: border-box;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Andale Mono", AndaleMono, monospace;
	
}

header {
	display: flex;
	text-transform: uppercase;
	min-height: 100px;
	overflow-x: hidden;
}

div.container {
	
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
}

/*Header Style Start*/

a.logo {
	position: relative;
	min-width: calc(var(--width));
	background-color: purple;
	color: pink;
	font-size: 2rem;
	border-right: 2px solid #fff;
	transition: 0.5s;
}

a.logo:hover {
	color: #fff;
}

.flex {
	display: flex;
	justify-content: center;
	align-items: center;
}

nav.menu-left {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #3290b4;
}

.menu-left ul {
	display: flex;
	margin: 0;
	padding: 0;
}

.menu-left li {
	padding: 1rem 0;
	border-right: 1px solid #fff;

}

.menu-left li:nth-child(3) {
	border: none;
}

.menu-left a,
.menu-right li {
	display: block;
	min-width: 16.6vw;
	text-align: center;
}

body > div > header > nav > ul > li:nth-child(1) {
	position: relative; 
}

.menu-left a,
.menu-right li {
	color: #6acafc;
	font-size: 1.5rem;
}

.menu-left a {
	transition: 0.5s;
}

.menu-left a:hover {
	opacity: 0.8;
	color: #fff;
}

.menu-right {
	display: flex;
	align-items: center;
	background-color: #327185;
	margin: 0;
	padding: 0;
	border-left: 2px solid #fff;
}

.menu-right ul {
	padding: 0;
}

.menu-right li {
	transition: 0.5s;
}

body > div > header > ul > li:nth-child(1) {
	display: flex;
	justify-content: center;
	font-size: 2rem;
	letter-spacing: 0.4rem;
	border-right: 1px solid #fff;
	padding: 1rem;
}

li.phone i {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid #fff;
	width: 40px;
	height: 40px;
	border-radius: 50px;
	border-color: #6acafc;
	margin: 0 auto;
	font-size: 1rem;
	margin-bottom: 0.4rem; 
}

/*Header Style End*/

/*Main Start*/

/*Main End*/


	




